require 'novacast-sdk-core'

require '{{customErrorImportPath}}'

# Models
{{#models}}{{#model}}
require '{{gemName}}/{{modelPackage}}/{{classFilename}}'
{{/model}}{{/models}}

# APIs
{{#apiInfo}}
{{#apis}}
require '{{importPath}}'
{{/apis}}
{{/apiInfo}}

module NovacastSDK
  module {{moduleName}}
    def self.configure
      yield self.config if block_given?
    end

    def self.config
      @config ||= NovacastSDK::Client::Configuration.new
    end
  end
end

NovacastSDK::{{moduleName}}.config.base_path = '{{contextPath}}'
