'use strict';

var Serializer = require('../serializer');

{{#models}}{{#model}}
var {{classname}} = function() {
  {{#vars}}
  this.{{{baseName}}} = null;
  {{/vars}}

  this._serialize = function() {
    return {{classname}}._serialize(this);
  };
};

{{classname}}._serialize = function(data) {
  var obj = {};

  {{#vars}}
  obj['{{{baseName}}}'] = Serializer.serialize(data['{{{baseName}}}'], '{{{datatype}}}');
  {{/vars}}

  return obj;
};

{{classname}}._deserialize = function(data) {
  var obj = new {{classname}}();

  {{#vars}}
  obj.{{{baseName}}} = Serializer.deserialize(data['{{{baseName}}}'], '{{{datatype}}}');
  {{/vars}}

  return obj;
};

module.exports = {{classname}};
{{/model}}{{/models}}
