'use strict';

var CoreSerializer = require('../core/serializer');

var Serializer = new function() {
  var _core_serializer = null;

  this.serialize = function(value, datatype) {
    return _coreSerializer().serialize(value, datatype);
  };

  this.deserialize = function(value, datatype) {
    return _coreSerializer().deserialize(value, datatype);
  };

  function _coreSerializer() {
    return _core_serializer || (_core_serializer = new CoreSerializer(require('./models')));
  }
}

module.exports = Serializer;
